<div class="row" id="pr-segment-details">
  <div class="col-md-12 segment-data">
    <div class="col-md-1"></div>
    <div class="col-md-5 pr-data">
        <h2 class="dashboard-header">Personal Record Summary</h2>
        <p>Segment Distance: <%= number_with_precision(@pr.distance / 1609.34, precision: 2) %> miles</p>
        <p>Segment Time: <%= @pr.duration %></p>
        <p><%= @pr.city %>, <%= @pr.state %></p>
        <p><%= @pr.date.strftime("%B %e, %Y at %I:%m %P") %></p>
    </div>
    <div class="col-md-5 pr-data">
      <h2 class="dashboard-header">You Performed Your Best...</h2>
      <p><i class="fa fa-clock-o"></i> <%= @pr.time_of_day %></p>
      <p><i class="fa fa-sun-o"></i> In <%= @pr.temperature.round %>&deg;F &amp; <%= number_to_percentage(@pr.humidity * 100, precision: 0) %> humidity</p>
      <p><i class="fa fa-sun-o"></i> In <%= @pr.conditions.downcase%> conditions</p>
      <p><i class="fa fa-sun-o"></i> <%= @pr.season %></p>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<div class="row map-div">
  <div class="col-md-12" id="map"></div>
</div>
</div>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_BROWSER_KEY'] %>&callback=initMap&libraries=geometry">
</script>
<script type="text/javascript">
function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 3,
    center: {lat: 0, lng: -180},
    mapTypeId: google.maps.MapTypeId.TERRAIN
  });

  var path = "<%= @pr.polyline %>"
  var decodedSets = google.maps.geometry.encoding.decodePath(path)

  var activityCoordinates = decodedSets;

  var activity = new google.maps.Polyline({
    path: activityCoordinates,
    geodesic: true,
    strokeColor: '#FF0000',
    strokeOpacity: 1.0,
    strokeWeight: 2
  });

  activity.setMap(map);
}
</script>
